<a href="https://colab.research.google.com/github/Shehbaz-Niazi/ATM-for-NewCoaders/blob/main/ClassWork/5_List_Tuple_%26_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]
print(names)

['shehbaz', 'arman', 'david', 'alyx star']

**For loop**

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]
for name in names:
  print(name)

shehbaz
arman
david
alyx star

**While Loop**

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]

i: int = 0

while i<len(names):
  print(names[i])
  i+=1

shehbaz
arman
david
alyx star

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]

for name in names:
  print(f"Hello {name}, How i can help you? ") # we can use f-string inside the loop body

Hello shehbaz, How i can help you?
Hello arman, How i can help you?
Hello david, How i can help you?
Hello alyx star, How i can help you?

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]

for name in names:
  print(f"Welcome Dear {name.title()}") # we can use any kind of list methode inside of loop body
  print("In Agentic AI python series\n")

Welcome Dear Shehbaz
In Agentic AI python series

Welcome Dear Arman
In Agentic AI python series

Welcome Dear David
In Agentic AI python series

Welcome Dear Alyx Star
In Agentic AI python series

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]

for name in names:
  print(f"Welcome Dear {name.title()}") # we can use any kind of list methode inside of loop body
  print("In Agentic AI python series\n")

print("Thankyou for joining us!") # this line will be show at the end of the loop body because this line is outside the body of the loop

Welcome Dear Shehbaz
In Agentic AI python series

Welcome Dear Arman
In Agentic AI python series

Welcome Dear David
In Agentic AI python series

Welcome Dear Alyx Star
In Agentic AI python series

Thankyou for joining us!

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]

for name in names[-2:]: # we can use slicing with loop
  print(f"Welcome Dear: {name.title()}")

print("\nThankyou for run this code")

Welcome Dear: David
Welcome Dear: Alyx Star

Thankyou for run this code

In [ ]:
names: list[str] = ["shehbaz", "arman", "david", "alyx star"]

for name in names[::-1]: # we can change print orders using slicing
  print(f"Welcome Dear: {name.upper()}")
print("\nThankyou for run this code")

Welcome Dear: ALYX STAR
Welcome Dear: DAVID
Welcome Dear: ARMAN
Welcome Dear: SHEHBAZ

Thankyou for run this code

# **Tuple**

In [ ]:
dataBase: list[tuple[str,str]] = [("shehbaz","123"),("david","456"),("adam","789")]

print(dataBase)
print(dataBase[0]) # ('shehbaz', '123')
print(dataBase[0][0])  # shehbaz

[('shehbaz', '123'), ('david', '456'), ('adam', '789')]
('shehbaz', '123')
shehbaz

In [ ]:
dataBase: list[tuple[str,str]] = [("shehbaz","123"),("david","456"),("adam","789")]

for users in dataBase:  # we can use loop with tuple
  print(users)

('shehbaz', '123')
('david', '456')
('adam', '789')

In [ ]:
dataBase: list[tuple[str,str]] = [("shehbaz","123"),("david","456"),("adam","789")]

for users in dataBase:
  username,password = users
  print(f"UserName: ", username)
  print(f"Password: ", password,"\n")

UserName:  shehbaz
Password:  123

UserName:  david
Password:  456

UserName:  adam
Password:  789

In [ ]:
dataBase: list[tuple[str,str]] = [("shehbaz","123"),("david","456"),("adam","789")]

input_user: str = input("Enter your Name: ")
input_password: str = input("Enter your Password: ")

for users in dataBase:
  username, password = users
  if input_user == username and input_password == password:
    print(f"Welcome Dear {username}! You are logged in")
    break;
else:
  print("Invalid Credentials")

Enter your Name: shehbaz
Enter your Password: 123
Welcome Dear shehbaz! You are logged in

In [ ]:
dataBase: list[tuple[str,str]] = [("shehbaz","123"),("david","456"),("adam","789")]

input_user: str = input("Enter your Name: ")
input_password: str = input("Enter your Password: ")

for users in dataBase:
  username, password = users
  if input_user == username and input_password == password:
    print(f"Welcome Dear {username}! You are logged in")
    break;
else:
  print("Invalid Credentials")

Enter your Name: david
Enter your Password: 123
Invalid Credentials

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

for name in names:
  print(f"Hello {name.title()}")
else:
  print("\nHello World!")

Hello Shehbaz
Hello David
Hello Adam
Hello Tommy

Hello World!

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

for name in names:
  print(f"Hello {name.title()}")
  break;
else:
  print("\nHello World!")

Hello Shehbaz

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

for name in names:
print(name)  # An error will be shown when you omit the indentation, indentation is required in the loop.

IndentationError: expected an indented block after 'for' statement on line 3 (ipython-input-11-3158592466.py, line 4)

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

for name in names:
  print(name)

shehbaz
david
adam
tommy

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

for name in names:
  print(f"Hello: {name.title()} you are my best friend")

print(f"\nHello: {name.upper()} how was your day?")

Hello: Shehbaz you are my best friend
Hello: David you are my best friend
Hello: Adam you are my best friend
Hello: Tommy you are my best friend

Hello: TOMMY how was your day?

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

for name in names:
  print(f"Hello: {name.title()} that was a great trick!")
  print(f"I can't wait to see your next trick, {name.title()}.\n")

print(f"Thank you everyone, that was a great magic show!")

Hello: Shehbaz that was a great trick!
I can't wait to see your next trick, Shehbaz.

Hello: David that was a great trick!
I can't wait to see your next trick, David.

Hello: Adam that was a great trick!
I can't wait to see your next trick, Adam.

Hello: Tommy that was a great trick!
I can't wait to see your next trick, Tommy.

Thank you everyone, that was a great magic show!

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

for i in range(len(names)):
  print(i, names[i])

0 shehbaz
1 david
2 adam
3 tommy

# **Enumerate**

In [ ]:
names: list[str] = ["shehbaz", "david", "adam", "tommy"]

list(enumerate(names))

[(0, 'shehbaz'), (1, 'david'), (2, 'adam'), (3, 'tommy')]

In [ ]:
for i,name in enumerate(names):
  print(i, name)

0 shehbaz
1 david
2 adam
3 tommy

In [ ]:
for i,name in enumerate(names, start=1):
  print(i, name)

1 shehbaz
2 david
3 adam
4 tommy

# **Number With Loop**

**Range**

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
for num in range(1,11):
  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(1,11):
  print(f"{2} X {num} = {num *2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
squares:list[int] = []

for num in range(1,11):
  square = num ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# **List comprehensive**

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for num in range(10):
  print(num)


[num for num in range(10)] # list comprehansive

0
1
2
3
4
5
6
7
8
9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[ num**2 for num in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# **Shallow Copy & Deep Copy**

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']

myNew_food = my_foods
print(f"Before Shallow Copy:")
print(my_foods)
print(myNew_food)

myNew_food[0] = "ice cream"   # shallow copy

print(f"\nAfter Shallow Copy:")
print(my_foods)
print(myNew_food)

Before Shallow Copy:
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']

After Shallow Copy:
['ice cream', 'falafel', 'carrot cake']
['ice cream', 'falafel', 'carrot cake']

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']

myNew_food = my_foods.copy()
print(f"Before Deep Copy:")
print(my_foods)
print(myNew_food)

myNew_food[0] = "ice cream"   # Deep copy

print(f"\nAfter Deep Copy:")
print(my_foods)
print(myNew_food)

Before Deep Copy:
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']

After Deep Copy:
['pizza', 'falafel', 'carrot cake']
['ice cream', 'falafel', 'carrot cake']

# **Tuple**

In [ ]:
names: tuple[str] = ('A','B','C','D')
print(names)

('A', 'B', 'C', 'D')

In [ ]:
names: tuple[str] = ('A','B','C','D')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [ ]:
names: tuple[str] = ('A','B','C','D')
print(names[0])
names[0] = "Pakistan"   # we cannot change tuple elements its shows error

In [ ]:
names: tuple[str] = ('A','B','C','D')
names:tuple[str] = ('E','F','G','H')
print(names)

('E', 'F', 'G', 'H')

In [ ]:
from typing import Any
data:tuple[Any] = (1,2,['Shehbaz','David'], True)
print(data)
print(data[0])
print(data[2])
print(data[2][0])
data[2].append("Aris")
print(data)

(1, 2, ['Shehbaz', 'David'], True)
1
['Shehbaz', 'David']
Shehbaz
(1, 2, ['Shehbaz', 'David', 'Aris'], True)

In [ ]:
a  = input("abc") # return string type
print(type(a))
print(a)

abc123
<class 'str'>
123

In [ ]:
sorted([7,8,1,3,9,10])

[1, 3, 7, 8, 9, 10]